@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Singnalr Quartz App</p>
</div>

<div class="row">
    <div class="col-12">
        <div class="form-body">
            <div class="form-group row mt-2">
                <div class="col-2">
                    <label for="User" class="control-label">User</label>
                </div>
                <div class="col-6">
                     <input id="User" name="User" type="text" class="form-control" data-val="true" data-val-required="Please enter user." />
                    <span class="field-validation-valid" data-valmsg-for="User" data-valmsg-replace="true"></span>
                </div>
                <div class="col-4"></div>
            </div>
            <div class="form-group row mt-2">
                <div class="col-2">
                    <label for="Message" class="control-label">Message</label>
                </div>
                <div class="col-6">
                     <input id="Message" name="Message" type="text" class="form-control" data-val="true" data-val-required="Please enter message." />
                    <span class="field-validation-valid" data-valmsg-for="Message" data-valmsg-replace="true"></span>
                </div>
                <div class="col-4"></div>
            </div>
            <div class="form-actions mt-4">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-6">
                        <input type="button" id="sendButton" class="btn btn-primary" value="Send Message" />
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2 style="font-weight:200;">Chat Message</h2>
    </div>
    <div class="col-12">
        <ul id="messagesList"></ul>
    </div>
</div>

@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}